.wrapper{
    width: 60%;
    height: 5vh;
    border: .1em solid black;
    margin-top: 3vh;
    margin-bottom: 3vh;
    display: flex;
    align-items: center;
}

.textarea{
    width: 89%;
    height: 88%;
    resize: none;
    float: right;
    outline: none;
    border: none;
    color: black;
    font-size: 1.5em;
    font-weight: 300;
    background-color: rgba(127, 255, 212, 0);
}

.textarea::placeholder{
    font-weight: 250;
}

.icon{
    float: left;
    width: 9%;
    height: 90%;
    color: black;
    font-weight: 300;
}